include README.md
include LICENSE
include CHANGELOG.md
recursive-include octoprint_InteractiveTerminal/templates *
recursive-include octoprint_InteractiveTerminal/translations *
recursive-include octoprint_InteractiveTerminal/static *
